/*Shell {
	font-size: 10;
}

CTabItem, ToolBar, Button, CBanner, CoolBar {
	font-size: 10;
}

CTabFolder {
  simple: false;
  margin: 4;
}

CTabFolder, CTabItem {
    background-color: #F0F1F7;
}

CTabItem.active {
  background-color: #ffffff;
}

CTabItem.active:selected {
  color: #ff5500;
  background-color: #f4f4f4;
  font-weight: bold;
}

CTabItem:selected {
    background-color: #FDFDFD;
}

Text {
	font-size: 10;
}
*/