<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="uk.org.taverna.tng.mockup3.workbench.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="uk.org.taverna.tng.mockup3.workbench.Perspective"
            id="uk.org.taverna.tng.mockup3.workbench.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="uk.org.taverna.tng.mockup3.workbench.views.ComponentPaletteView"
            icon="icons/biocat_wheel.png"
            id="uk.org.taverna.tng.mockup3.workbench.views.ComponentPaletteView"
            name="Component Palette"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.org.taverna.tng.mockup3.workbench.application"
            name="Taverna TNG Mockup 3 Workbench">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Taverna TNG Mockup 3 Workbench">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="uk.org.taverna.tng.mockup3.workbench.views.ComponentPaletteView"
               minimized="false"
               moveable="true"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.org.taverna.tng.mockup3.workbench.commands.SearchNewComponentsHandler"
            id="uk.org.taverna.tng.mockup3.workbench.commands.SearchNewComponents"
            name="Search for New Components">
      </command>
      <command
            defaultHandler="uk.org.taverna.tng.mockup3.workbench.commands.ExitHandler"
            id="uk.org.taverna.tng.mockup3.workbench.commands.Exit"
            name="Exit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="uk.org.taverna.tng.mockup3.workbench.commands.Exit"
                  label="Exit"
                  style="push"
                  tooltip="Exits the workbench">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="id4"
         point="uk.org.taverna.tng.mockup3.core.workflowComponents">
      <componentDefinition
            description="A simple file reader"
            group="/io/read"
            icon="icons/famfamfam_silk/disk.png"
            id="urn:taverna.org.uk/tng/components/io/read/fileReader"
            name="File Reader">
      </componentDefinition>
      <componentDefinition
            description="Reads a CSV file (performs some validation to ensure that a valid CSV file is provided)"
            group="/io/read"
            id="urn:taverna.org.uk/tng/components/io/read/csvReader"
            name="CSV File Reader">
      </componentDefinition>
      <componentDefinition
            description="Reads an XML file (performs validation to ensure that a valid XML file is provided)"
            group="/io/read"
            icon="icons/famfamfam_silk/page_white_code.png"
            id="urn:taverna.org.uk/tng/components/io/read/xmlReader"
            name="XML File Reader">
      </componentDefinition>
      <componentDefinition
            description="Writes out to a CSV file"
            group="/io/write"
            id="urn:taverna.org.uk/tng/components/io/write/csvWriter"
            name="CSV File Writer">
      </componentDefinition>
      <componentDefinition
            group="/scripting"
            icon="icons/famfamfam_silk/chart_organisation.png"
            id="urn:taverna.org.uk/tng/components/scripting/beanshell"
            name="Beanshell Script">
      </componentDefinition>
      <componentDefinition
            description="X"
            id="urn:taverna.org.uk/tng/components/componentX"
            name="Component X">
      </componentDefinition>
   </extension>

</plugin>
