<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="uk.org.taverna.tng.mockup3.workbench.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="uk.org.taverna.tng.mockup3.workbench.Perspective"
            id="uk.org.taverna.tng.mockup3.workbench.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="uk.org.taverna.tng.mockup3.workbench.views.ComponentPaletteView"
            icon="icons/biocat_wheel.png"
            id="uk.org.taverna.tng.mockup3.workbench.views.ComponentPaletteView"
            name="Palette"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="uk.org.taverna.tng.mockup3.workbench.views.ComponentSearchView"
            icon="icons/famfamfam_silk/magnifier.png"
            id="uk.org.taverna.tng.mockup3.workbench.views.ComponentSearchView"
            name="Search"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="uk.org.taverna.tng.mockup3.workbench.views.ComponentDetailsView"
            icon="icons/famfamfam_silk/information.png"
            id="uk.org.taverna.tng.mockup3.workbench.views.ComponentDetailsView"
            name="Details"
            restorable="true">
      </view>
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/famfamfam_silk/disk.png"
            id="uk.org.taverna.tng.mockup3.workbench.views.FilesViewer"
            name="Files"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.org.taverna.tng.mockup3.workbench.application"
            name="Taverna TNG Mockup 3 Workbench">
         <property
               name="windowImages"
               value="icons/taverna-logo-16x16.png,icons/taverna-logo-32x32.png">
         </property>
         <property
               name="appName"
               value="Taverna TNG Mockup 3 Workbench">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="uk.org.taverna.tng.mockup3.workbench.views.ComponentPaletteView"
               minimized="false"
               moveable="true"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.org.taverna.tng.mockup3.workbench.views.ComponentSearchView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uk.org.taverna.tng.mockup3.workbench.views.ComponentPaletteView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="uk.org.taverna.tng.mockup3.workbench.views.ComponentDetailsView"
               minimized="false"
               moveable="true"
               ratio="0.8f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.org.taverna.tng.mockup3.workbench.views.FilesViewer"
               minimized="false"
               moveable="false"
               ratio="0.25f"
               relationship="top"
               relative="uk.org.taverna.tng.mockup3.workbench.views.ComponentPaletteView"
               showTitle="false"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.org.taverna.tng.mockup3.workbench.commands.SearchNewComponentsHandler"
            id="uk.org.taverna.tng.mockup3.workbench.commands.SearchNewComponents"
            name="Search for New Components">
         <commandParameter
               id="uk.org.taverna.tng.mockup3.workbench.commandParameters.searchTerm"
               name="Search Term"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="uk.org.taverna.tng.mockup3.workbench.commands.ExitHandler"
            id="uk.org.taverna.tng.mockup3.workbench.commands.Exit"
            name="Exit">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            description="%openActionDescription"
            id="uk.org.taverna.tng.mockup3.models.diagram.OpenCommand"
            name="%openActionLabel">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            description="%openURIActionDescription"
            id="uk.org.taverna.tng.mockup3.models.diagram.OpenURICommand"
            name="%openURIActionLabel">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            description="%newDiagramActionDescription"
            id="uk.org.taverna.tng.mockup3.models.diagram.NewDiagramCommand"
            name="%newDiagramActionLabel">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="uk.org.taverna.tng.mockup3.models.diagram.NewDiagramCommand"
                  label="New Workflow"
                  style="push">
            </command>
            <command
                  commandId="uk.org.taverna.tng.mockup3.models.diagram.OpenCommand"
                  label="Open Workflow"
                  style="push">
            </command>
            <separator
                  name="uk.org.taverna.tng.mockup3.workbench.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="uk.org.taverna.tng.mockup3.workbench.commands.Exit"
                  label="Exit"
                  style="push"
                  tooltip="Exits the workbench">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="id4"
         point="uk.org.taverna.tng.mockup3.core.workflowComponents">
      <componentDefinition
            description="A simple file reader"
            group="/io/read"
            icon="icons/famfamfam_silk/disk.png"
            id="http://taverna.org.uk/tng/components/io/read/fileReader"
            name="File Reader">
      </componentDefinition>
      <componentDefinition
            description="Reads a CSV file (performs some validation to ensure that a valid CSV file is provided)"
            group="/io/read"
            icon="icons/component_icon.png"
            id="http://taverna.org.uk/tng/components/io/read/csvReader"
            name="CSV File Reader">
      </componentDefinition>
      <componentDefinition
            description="Reads an XML file (performs validation to ensure that a valid XML file is provided)"
            group="/io/read"
            icon="icons/famfamfam_silk/page_white_code.png"
            id="http://taverna.org.uk/tng/components/io/read/xmlReader"
            name="XML File Reader">
      </componentDefinition>
      <componentDefinition
            description="Writes out to a CSV file"
            group="/io/write"
            icon="icons/component_icon.png"
            id="http://taverna.org.uk/tng/components/io/write/csvWriter"
            name="CSV File Writer">
      </componentDefinition>
      <componentDefinition
            group="/scripting"
            icon="icons/famfamfam_silk/chart_organisation.png"
            id="http://taverna.org.uk/tng/components/scripting/beanshell"
            name="Beanshell Script">
      </componentDefinition>
      <componentDefinition
            description="X"
            icon="icons/component_icon.png"
            id="http://taverna.org.uk/tng/components/componentX"
            name="Component X">
      </componentDefinition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="uk.org.taverna.tng.mockup3.workbench.util.ComponentSearchResults"
            class="uk.org.taverna.tng.mockup3.workbench.util.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.org.taverna.tng.mockup3.workbench.util.ComponentSearchSourceResults"
            class="uk.org.taverna.tng.mockup3.workbench.util.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.org.taverna.tng.mockup3.workbench.util.ComponentSearchResultItem"
            class="uk.org.taverna.tng.mockup3.workbench.util.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.org.taverna.tng.mockup3.core.ComponentDefinitionsRegistry"
            class="uk.org.taverna.tng.mockup3.workbench.util.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.org.taverna.tng.mockup3.core.ComponentDefinitionGroup"
            class="uk.org.taverna.tng.mockup3.workbench.util.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.org.taverna.tng.mockup3.core.IComponentDefinition"
            class="uk.org.taverna.tng.mockup3.workbench.util.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="uk.org.taverna.tng.mockup3.models.diagram.InitDiagram"
            label="%initDiagramActionLabel"
            visible="true">
         <action
               class="uk.org.taverna.tng.mockup3.models.workflow.diagram.part.WorkflowInitDiagramFileAction"
               id="uk.org.taverna.tng.mockup3.models.diagram.InitDiagramAction"
               label="%initDiagramActionLabel"
               menubarPath="file/additions">
         </action>
      </actionSet>
      <actionSet
            id="uk.org.taverna.tng.mockup3.models.diagram.ActionSet"
            label="%applicationActionSetLabel"
            visible="true">
         <action
               class="uk.org.taverna.tng.mockup3.workbench.ApplicationActionBarAdvisor$OpenURIAction"
               definitionId="uk.org.taverna.tng.mockup3.models.diagram.OpenURICommand"
               id="uk.org.taverna.tng.mockup3.models.diagram.OpenURIAction"
               label="%openURIActionLabel"
               menubarPath="file/additions"
               style="push">
         </action>
         <action
               class="uk.org.taverna.tng.mockup3.workbench.ApplicationActionBarAdvisor$OpenAction"
               definitionId="uk.org.taverna.tng.mockup3.models.diagram.OpenCommand"
               id="uk.org.taverna.tng.mockup3.models.diagram.OpenAction"
               label="%openActionLabel"
               menubarPath="file/additions">
         </action>
         <action
               class="uk.org.taverna.tng.mockup3.workbench.ApplicationActionBarAdvisor$NewDiagramAction"
               definitionId="uk.org.taverna.tng.mockup3.models.diagram.NewDiagramCommand"
               id="uk.org.taverna.tng.mockup3.models.diagram.NewDiagramAction"
               label="%newDiagramActionLabel"
               menubarPath="file/new/additions">
         </action>
         <action
               class="uk.org.taverna.tng.mockup3.workbench.ApplicationActionBarAdvisor$AboutAction"
               id="uk.org.taverna.tng.mockup3.models.diagram.AboutAction"
               label="%aboutActionLabel"
               menubarPath="help/additions">
         </action>
      </actionSet>
   </extension>
   <extension
         id="rcp-command-bindings"
         point="org.eclipse.ui.bindings">
      <key
            commandId="uk.org.taverna.tng.mockup3.models.diagram.OpenCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      <key
            commandId="uk.org.taverna.tng.mockup3.models.diagram.OpenURICommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+U">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="uk.org.taverna.tng.mockup3.workbench.views.FilesViewer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="uk.org.taverna.tng.mockup3.workbench.views.FilesViewer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>

</plugin>
