<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
  xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  
  <!--
    Authentication via web.xml - explanations:
    
    http://wiki.metawerx.net/wiki/Web.xml
    http://www.servlets.com/jservlet2/examples/ch08/index.html
    http://www.informit.com/articles/article.aspx?p=24253
    http://download.oracle.com/docs/cd/B31017_01/web.1013/b28967/adding_security003.htm
  -->
  
  
  
  <!-- SERVLET WITH NO AUTHENTICATION -->
  
  <servlet>
    <description></description>
    <servlet-name>NoAuthServlet</servlet-name>
    <servlet-class>NoAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoAuthServlet</servlet-name>
    <url-pattern>/NoAuthServlet</url-pattern>
  </servlet-mapping>
  
  
  <!-- SERVLET WITH AUTHENTICATION -->
  <!-- method of authentication (e.g. BASIC | DIGEST | etc. depends on settings below -->
  
  <servlet>
    <description></description>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>AuthServlet</web-resource-name>
      <url-pattern>
        /AuthServlet
      </url-pattern>
      <!--
        nothing is selected explicitly, so all HTTP methods are
        protected by authentication requests
        
        <http-method>GET</http-method>
        <http-method>POST</http-method>
        <http-method>PUT</http-method>
        <http-method>DELETE</http-method>
      -->
   </web-resource-collection>
   <auth-constraint>
     <role-name>user</role-name>
   </auth-constraint>
  </security-constraint>
  
  <login-config>
    <auth-method>
      BASIC
    </auth-method>
    <realm-name>
      BASIC Authentication Test
    </realm-name>
  </login-config>
  
  <!--
    this is another possible authentication method;
    in fact, BASIC authentication is fully-replaceable
    with DIGEST authentication with no additional changes
    required to any other resources in the test server
    code / config
  
    <login-config>
      <auth-method>
        DIGEST
      </auth-method>
      <realm-name>
        DIGEST Authentication Test
      </realm-name>
    </login-config>
  -->
  
  <!--
    this security role must match precisely to that of the desired
    users in tomcat-users.xml
  -->
  <security-role>
    <role-name>user</role-name>
  </security-role>
  
</web-app>
