<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ns.taverna.org.uk/2010/t3/workbench/canvas/1.0"
            class="uk.org.taverna.t3.workbench.canvas.models.canvas.CanvasPackage"
            genModel="models/canvas.genmodel"/>
   </extension>

</plugin>
