<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="prototype003.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="prototype003.Perspective"
            id="prototype003.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="prototype003.application"
            name="Taverna Prototype 003">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="prototype003.command.ExitHandler"
            id="prototype003.command.Exit"
            name="Exit">
      </command>
      <command
            defaultHandler="prototype003.handler.ChangeLayout"
            id="prototype003.ChangeLayout"
            name="Change Layout">
      </command>
      <command
            defaultHandler="prototype003.handler.Run"
            id="prototype003.command.Run"
            name="Run">
      </command>
      <command
            defaultHandler="prototype003.handler.OpenDialog"
            id="prototype003.command.OpenDialog"
            name="OpenDialog">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="prototype003.command.Exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="prototype003.toolbar1">
            <command
                  commandId="prototype003.command.OpenDialog"
                  icon="icons/alt_launcher.ico"
                  label="Run"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="prototype003.ChangeLayout"
                  icon="icons/alt_launcher.ico"
                  label="Change Layout"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="prototype003.command.OpenDialog"
                  icon="icons/alt_launcher.ico"
                  label="Group Components"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="prototype003.view.MyView"
            id="prototype003.view.MyView"
            name="Information"
            restorable="true">
      </view>
      <view
            class="prototype003.MyOtherView"
            id="prototype003.MyOtherView"
            name="Component Palette"
            restorable="true">
      </view>
      <view
            class="prototype003.MyGraphView"
            id="prototype003.MyGraphView"
            name="Graph View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="prototype003.view.MyView"
               minimized="false"
               moveable="true"
               ratio="0.75f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="prototype003.MyOtherView"
               minimized="false"
               moveable="true"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="prototype003.MyGraphView"
               minimized="false"
               moveable="true"
               ratio="0.95f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
