<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="uk.org.taverna.t3.workbench.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.org.taverna.t3.workbench.ui.perspectives.MainPerspectiveFactory"
            fixed="true"
            icon="icons/famfamfam_silk/page_white_gear.png"
            id="uk.org.taverna.t3.workbench.ui.perspectives.main"
            name="Designer">
      </perspective>
      <perspective
            class="uk.org.taverna.t3.workbench.ui.perspectives.RunsPerspectiveFactory"
            fixed="true"
            icon="icons/famfamfam_silk/database_table.png"
            id="uk.org.taverna.t3.workbench.ui.perspectives.runs"
            name="Runs and Outputs">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="uk.org.taverna.t3.workbench.ui.menus.file"
               label="File">
            <command
                  commandId="uk.org.taverna.t3.workbench.ui.commands.newWorkflow"
                  label="New Workflow"
                  style="push"
                  tooltip="Create a new workflow">
            </command>
            <command
                  commandId="uk.org.taverna.t3.workbench.ui.commands.openWorkflow"
                  label="Open Workflow"
                  style="push"
                  tooltip="Open up an existing workflow">
            </command>
            <separator
                  name="uk.org.taverna.t3.workbench.ui.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push"
                  tooltip="Close the workbench">
            </command>
         </menu>
         <menu
               id="uk.org.taverna.t3.workbench.ui.menus.view"
               label="View">
         </menu>
         <menu
               id="uk.org.taverna.t3.workbench.ui.menus.switchTo"
               label="Switch To">
            <dynamic
                  class="uk.org.taverna.t3.workbench.ui.menus.dynamic.SwitchToPerspectiveMenu"
                  id="uk.org.taverna.t3.workbench.ui.menus.dynamic.switchToPerspective">
            </dynamic>
         </menu>
         <menu
               id="uk.org.taverna.t3.workbench.ui.menus.help"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About"
                  style="push">
            </command>
         </menu>
         <menu
               id="uk.org.taverna.t3.workbench.ui.menus.dev"
               label="Dev">
            <command
                  commandId="uk.org.taverna.t3.workbench.ui.commands.developmentDebug"
                  label="Output debug info to System Out"
                  style="push">
            </command>
            <command
                  commandId="uk.org.taverna.t3.workbench.ui.commands.populateWorkflow"
                  label="Populate workflows"
                  style="push"
                  tooltip="Populate">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="uk.org.taverna.t3.workbench.ui.toolbars.main"
               label="Main toolbar">
            <command
                  commandId="uk.org.taverna.t3.workbench.ui.commands.newWorkflow"
                  label="New Workflow"
                  style="push"
                  tooltip="Create a new workflow">
            </command>
            <command
                  commandId="uk.org.taverna.t3.workbench.ui.commands.openWorkflow"
                  label="Open Workflow"
                  style="push"
                  tooltip="Open up an existing workflow">
            </command>
            <separator
                  name="uk.org.taverna.t3.workbench.ui.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="uk.org.taverna.t3.workbench.ui.commands.runWorkflow"
                  label="Run Workflow"
                  style="push"
                  tooltip="Run a whole workflow (i.e: the main contents of a canvas)">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.org.taverna.t3.workbench.ui.views.componentsPalette">
         <command
               commandId="uk.org.taverna.t3.workbench.ui.commands.componentsPaletteLayout"
               label="Change Components Layout"
               style="pulldown"
               tooltip="Changes the layout of the components palette to the next layout option">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:uk.org.taverna.t3.workbench.ui.commands.componentsPaletteLayout">
         <command
               commandId="uk.org.taverna.t3.workbench.ui.commands.componentsPaletteLayoutSelector"
               label="List"
               style="radio"
               tooltip="Show components in a simple list view">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="LIST">
            </parameter>
         </command>
         <command
               commandId="uk.org.taverna.t3.workbench.ui.commands.componentsPaletteLayoutSelector"
               label="Tree"
               style="radio"
               tooltip="Show components in a tree view">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="TREE">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="uk.org.taverna.t3.workbench.ui.handlers.NewWorkflowHandler"
            commandId="uk.org.taverna.t3.workbench.ui.commands.newWorkflow">
      </handler>
      <handler
            class="uk.org.taverna.t3.workbench.ui.handlers.OpenWorkflowHandler"
            commandId="uk.org.taverna.t3.workbench.ui.commands.openWorkflow">
      </handler>
      <handler
            class="uk.org.taverna.t3.workbench.ui.handlers.RunWorkflowHandler"
            commandId="uk.org.taverna.t3.workbench.ui.commands.runWorkflow">
      </handler>
      <handler
            class="uk.org.taverna.t3.workbench.ui.handlers.ComponentsPaletteLayoutHandler"
            commandId="uk.org.taverna.t3.workbench.ui.commands.componentsPaletteLayout">
      </handler>
      <handler
            class="uk.org.taverna.t3.workbench.ui.handlers.ComponentsPaletteLayoutSelectorHandler"
            commandId="uk.org.taverna.t3.workbench.ui.commands.componentsPaletteLayoutSelector">
      </handler>
      <handler
            class="uk.org.taverna.t3.workbench.ui.handlers.CreateTestElements"
            commandId="uk.org.taverna.t3.workbench.ui.commands.populateWorkflow">
      </handler>
      <handler
            class="uk.org.taverna.t3.workbench.ui.handlers.SearchNewComponentsHandler"
            commandId="uk.org.taverna.t3.workbench.ui.commands.searchNewComponents">
      </handler>
      <handler
            class="uk.org.taverna.t3.workbench.ui.handlers.DevelopmentDebugHandler"
            commandId="uk.org.taverna.t3.workbench.ui.commands.developmentDebug">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="uk.org.taverna.t3.workbench.ui.commands.t3base"
            name="Taverna 3 Base - Views">
      </category>
      <command
            categoryId="uk.org.taverna.t3.workbench.ui.commands.t3base"
            description="Create a new workflow"
            id="uk.org.taverna.t3.workbench.ui.commands.newWorkflow"
            name="New Workflow">
      </command>
      <command
            categoryId="uk.org.taverna.t3.workbench.ui.commands.t3base"
            description="Open up an existing workflow"
            id="uk.org.taverna.t3.workbench.ui.commands.openWorkflow"
            name="Open Workflow">
      </command>
      <command
            categoryId="uk.org.taverna.t3.workbench.ui.commands.t3base"
            description="Run a whole workflow (i.e: the main contents of a canvas)"
            id="uk.org.taverna.t3.workbench.ui.commands.runWorkflow"
            name="Run Workflow">
      </command>
      <command
            categoryId="uk.org.taverna.t3.workbench.ui.commands.t3base"
            description="Changes the layout of the components palette to the next layout option"
            id="uk.org.taverna.t3.workbench.ui.commands.componentsPaletteLayout"
            name="Components Palette Layout">
      </command>
      <command
            categoryId="uk.org.taverna.t3.workbench.ui.commands.t3base"
            description="Selects a particular components palette layout"
            id="uk.org.taverna.t3.workbench.ui.commands.componentsPaletteLayoutSelector"
            name="Components Palette Layout Selector">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="State"
               optional="false">
         </commandParameter>
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="TREE">
               </parameter>
               <parameter
                     name="persisted"
                     value="true">
               </parameter>
            </class>
         </state>
      </command>
      <command
            categoryId="uk.org.taverna.t3.workbench.ui.commands.t3base"
            description="Create a new canvas items"
            id="uk.org.taverna.t3.workbench.ui.commands.populateWorkflow"
            name="Populate">
      </command>
      <command
            categoryId="uk.org.taverna.t3.workbench.ui.commands.t3base"
            description="Find new components matching some search criteria"
            id="uk.org.taverna.t3.workbench.ui.commands.searchNewComponents"
            name="Find New Components">
         <commandParameter
               id="uk.org.taverna.t3.workbench.ui.commandParameters.searchQuery"
               name="Search Query"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="uk.org.taverna.t3.workbench.ui.commands.t3base"
            description="Debugging information for development purposes"
            id="uk.org.taverna.t3.workbench.ui.commands.developmentDebug"
            name="Dev Debug">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="uk.org.taverna.t3.workbench.ui.views.t3base"
            name="Taverna 3 Main Views">
      </category>
      <view
            allowMultiple="false"
            category="uk.org.taverna.t3.workbench.ui.views.t3base"
            class="uk.org.taverna.t3.workbench.ui.views.WorkflowsBrowserView"
            icon="icons/famfamfam_silk/page_white_gear.png"
            id="uk.org.taverna.t3.workbench.ui.views.workflowsBrowser"
            name="Workflows"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.org.taverna.t3.workbench.ui.views.t3base"
            class="uk.org.taverna.t3.workbench.ui.views.DataView"
            icon="icons/famfamfam_silk/database_table.png"
            id="uk.org.taverna.t3.workbench.ui.views.data"
            name="Data"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.org.taverna.t3.workbench.ui.views.t3base"
            class="uk.org.taverna.t3.workbench.ui.views.ComponentsPaletteView"
            icon="icons/famfamfam_silk/cog.png"
            id="uk.org.taverna.t3.workbench.ui.views.componentsPalette"
            name="Components"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.org.taverna.t3.workbench.ui.views.t3base"
            class="uk.org.taverna.t3.workbench.ui.views.ComponentsSearchView"
            icon="icons/famfamfam_silk/magnifier.png"
            id="uk.org.taverna.t3.workbench.ui.views.componentsSearch"
            name="Find New Components"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.org.taverna.t3.workbench.ui.views.t3base"
            class="uk.org.taverna.t3.workbench.ui.views.ComponentInfoView"
            icon="icons/famfamfam_silk/script_gear.png"
            id="uk.org.taverna.t3.workbench.ui.views.componentInfo"
            name="Component Info"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.org.taverna.t3.workbench.ui.views.t3base"
            class="uk.org.taverna.t3.workbench.ui.views.WorkflowModelView"
            icon="icons/famfamfam_silk/database_gear.png"
            id="uk.org.taverna.t3.workbench.ui.views.workflowModel"
            name="Workflow Model"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.org.taverna.t3.workbench.ui.views.t3base"
            class="uk.org.taverna.t3.workbench.ui.views.WorkflowRunsView"
            icon="icons/famfamfam_silk/page_gear.png"
            id="uk.org.taverna.t3.workbench.ui.views.workflowRuns"
            name="Workflow Runs"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.org.taverna.t3.workbench.ui.views.t3base"
            class="uk.org.taverna.t3.workbench.ui.views.ConfigureItemView"
            icon="icons/famfamfam_silk/wrench.png"
            id="uk.org.taverna.t3.workbench.ui.views.configureItem"
            name="Configure Item"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.org.taverna.t3.workbench.ui.perspectives.main">
         <view
               closeable="false"
               id="uk.org.taverna.t3.workbench.ui.views.workflowsBrowser"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="uk.org.taverna.t3.workbench.ui.perspectives.main.folders.left"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.org.taverna.t3.workbench.ui.views.componentsPalette"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="uk.org.taverna.t3.workbench.ui.perspectives.main.folders.left"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.org.taverna.t3.workbench.ui.views.componentsSearch"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="uk.org.taverna.t3.workbench.ui.perspectives.main.folders.left"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.org.taverna.t3.workbench.ui.views.data"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="uk.org.taverna.t3.workbench.ui.perspectives.main.folders.left"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.org.taverna.t3.workbench.ui.views.componentInfo"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="uk.org.taverna.t3.workbench.ui.perspectives.main.folders.right"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.org.taverna.t3.workbench.ui.views.workflowModel"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="uk.org.taverna.t3.workbench.ui.perspectives.main.folders.right"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.org.taverna.t3.workbench.ui.views.workflowRuns"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="uk.org.taverna.t3.workbench.ui.perspectives.main.folders.right"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.org.taverna.t3.workbench.ui.views.configureItem"
               minimized="false"
               moveable="false"
               relationship="bottom"
               relative="uk.org.taverna.t3.workbench.ui.perspectives.main.folders.bottom"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="uk.org.taverna.t3.workbench.ui.activities.RemoveUnusedButtons"
            name="Remove Unused Buttons">
      </activity>
      <activityPatternBinding
            activityId="uk.org.taverna.t3.workbench.ui.activities.RemoveUnusedButtons"
            pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.gotoLastEditPosition">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="uk.org.taverna.t3.workbench.ui.activities.RemoveUnusedButtons"
            pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.*nnotation">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="uk.org.taverna.t3.workbench.ui.activities.RemoveUnusedButtons"
            pattern="org.eclipse.ui.ide/.*WorkingSet.*">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
			<image
            commandId="uk.org.taverna.t3.workbench.ui.commands.newWorkflow"
            icon="icons/famfamfam_silk/page_white_gear.png">
      </image>
   <image
         commandId="uk.org.taverna.t3.workbench.ui.commands.openWorkflow"
         icon="icons/famfamfam_silk/folder_page.png">
   </image>
      <image
            commandId="uk.org.taverna.t3.workbench.ui.commands.componentsPaletteLayout"
            icon="icons/famfamfam_silk/folder_explore.png">
      </image>
      <image
            commandId="uk.org.taverna.t3.workbench.ui.commands.searchNewComponents"
            icon="icons/famfamfam_silk/magnifier.png">
      </image>
      <image
            commandId="uk.org.taverna.t3.workbench.ui.commands.developmentDebug"
            icon="icons/famfamfam_silk/keyboard.png">
      </image>
      <image
            commandId="uk.org.taverna.t3.workbench.ui.commands.runWorkflow"
            icon="icons/famfamfam_silk/control_play_blue.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default.css"
            id="uk.org.taverna.t3.workbench.ui.css.themes.default"
            label="Default Theme">
      </theme>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="uk.org.taverna.t3.workbench.workflows.model.WorkflowsCollectionManager"
            class="uk.org.taverna.t3.workbench.ui.adapters.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.org.taverna.t3.workbench.workflows.model.WorkflowsCollectionSource"
            class="uk.org.taverna.t3.workbench.ui.adapters.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.org.taverna.t3.workbench.components.registry.ComponentsRegistry"
            class="uk.org.taverna.t3.workbench.ui.adapters.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.org.taverna.t3.workbench.components.definitions.model.ComponentDefinition"
            class="uk.org.taverna.t3.workbench.ui.adapters.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.org.taverna.t3.workbench.components.registry.ComponentDefinitionFlatGroup"
            class="uk.org.taverna.t3.workbench.ui.adapters.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.org.taverna.t3.workbench.components.registry.ComponentDefinitionTreeGroup"
            class="uk.org.taverna.t3.workbench.ui.adapters.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.org.taverna.t3.workbench.ui.util.ListInputContainer"
            class="uk.org.taverna.t3.workbench.ui.adapters.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.org.taverna.t3.workbench.components.search.ComponentSearchResults"
            class="uk.org.taverna.t3.workbench.ui.adapters.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
   </extension>

</plugin>
