<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="uk.org.taverna.t3.workbench.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Main"
            class="uk.org.taverna.t3.workbench.ui.perspectives.MainPerspective"
            id="uk.org.taverna.t3.workbench.ui.perspectives.main">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="uk.org.taverna.t3.workbench.ui.menus.file"
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push"
                  tooltip="Close the workbench">
            </command>
         </menu>
         <menu
               id="uk.org.taverna.t3.workbench.ui.menus.help"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.editors">
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="uk.org.taverna.t3.workbench.ui.views.t3base"
            name="Taverna 3 Views">
      </category>
      <view
            allowMultiple="false"
            category="uk.org.taverna.t3.workbench.ui.views.t3base"
            class="uk.org.taverna.t3.workbench.ui.views.WorkflowsView"
            icon="icons/famfamfam_silk/page_white_gear.png"
            id="uk.org.taverna.t3.workbench.ui.views.workflows"
            name="Workflows"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.org.taverna.t3.workbench.ui.views.t3base"
            class="uk.org.taverna.t3.workbench.ui.views.DataView"
            icon="icons/famfamfam_silk/database_table.png"
            id="uk.org.taverna.t3.workbench.ui.views.data"
            name="Data"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.org.taverna.t3.workbench.ui.views.t3base"
            class="uk.org.taverna.t3.workbench.ui.views.ComponentPaletteView"
            icon="icons/famfamfam_silk/cog.png"
            id="uk.org.taverna.t3.workbench.ui.views.componentPalette"
            name="Components"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.org.taverna.t3.workbench.ui.views.t3base"
            class="uk.org.taverna.t3.workbench.ui.views.ComponentSearchView"
            icon="icons/famfamfam_silk/magnifier.png"
            id="uk.org.taverna.t3.workbench.ui.views.componentSearch"
            name="Find Components"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.org.taverna.t3.workbench.ui.views.t3base"
            class="uk.org.taverna.t3.workbench.ui.views.WorkflowModelView"
            icon="icons/famfamfam_silk/database_gear.png"
            id="uk.org.taverna.t3.workbench.ui.views.workflowModel"
            name="Workflow Model"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.org.taverna.t3.workbench.ui.views.t3base"
            class="uk.org.taverna.t3.workbench.ui.views.ComponentInfoView"
            icon="icons/famfamfam_silk/script_gear.png"
            id="uk.org.taverna.t3.workbench.ui.views.componentInfo"
            name="Component Info"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.org.taverna.t3.workbench.ui.perspectives.main">
         <view
               closeable="false"
               id="uk.org.taverna.t3.workbench.ui.views.componentPalette"
               minimized="false"
               moveable="false"
               ratio="0.2f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.org.taverna.t3.workbench.ui.views.componentSearch"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="uk.org.taverna.t3.workbench.ui.views.componentPalette"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.org.taverna.t3.workbench.ui.views.data"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="uk.org.taverna.t3.workbench.ui.views.componentSearch"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.org.taverna.t3.workbench.ui.views.workflows"
               minimized="true"
               moveable="false"
               ratio="0.2f"
               relationship="left"
               relative="uk.org.taverna.t3.workbench.ui.views.componentPalette"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.org.taverna.t3.workbench.ui.views.componentInfo"
               minimized="false"
               moveable="false"
               ratio="0.8f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="uk.org.taverna.t3.workbench.ui.views.componentInfo"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.org.taverna.t3.workbench.ui.views.workflowModel"
               minimized="false"
               moveable="false"
               ratio="0.75f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="uk.org.taverna.t3.workbench.ui.activities.RemoveUnusedButtons"
            name="Remove Unused Buttons">
      </activity>
      <activityPatternBinding
            activityId="uk.org.taverna.t3.workbench.ui.activities.RemoveUnusedButtons"
            pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.gotoLastEditPosition">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="uk.org.taverna.t3.workbench.ui.activities.RemoveUnusedButtons"
            pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.*nnotation">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="uk.org.taverna.t3.workbench.ui.activities.RemoveUnusedButtons"
            pattern="org.eclipse.ui.ide/.*WorkingSet.*">
      </activityPatternBinding>
   </extension>

</plugin>
